<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd
						http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0">
	<display-name>PACS</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>jdbcURL</param-name>
		<param-value>
			jdbc:mysql://localhost:3306/placementcell?allowPublicKeyRetrieval=true&amp;useSSL=false</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcUsername</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>password</param-value>
	</context-param>
	<servlet>
		<servlet-name>AdminCompRegisterServlet</servlet-name>
		<servlet-class>admin.AdminCompRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCompRegisterServlet</servlet-name>
		<url-pattern>/AdminCompRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminFPServlet</servlet-name>
		<servlet-class>admin.AdminFPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminFPServlet</servlet-name>
		<url-pattern>/AdminFPServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminListServlet</servlet-name>
		<servlet-class>admin.AdminListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminListServlet</servlet-name>
		<url-pattern>/AdminListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>admin.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<servlet-class>admin.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<url-pattern>/AdminLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNPServlet</servlet-name>
		<servlet-class>admin.AdminNPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNPServlet</servlet-name>
		<url-pattern>/AdminNPServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminRegisterServlet</servlet-name>
		<servlet-class>admin.AdminRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminRegisterServlet</servlet-name>
		<url-pattern>/AdminRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>admin.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServletList</url-pattern>
		<url-pattern>/AdminServletNew</url-pattern>
		<url-pattern>/AdminServletDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUpdateServlet</servlet-name>
		<servlet-class>admin.AdminUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUpdateServlet</servlet-name>
		<url-pattern>/AdminUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserRegiServlet</servlet-name>
		<servlet-class>admin.AdminUserRegiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserRegiServlet</servlet-name>
		<url-pattern>/AdminUserRegiServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminValidateOtpServlet</servlet-name>
		<servlet-class>admin.AdminValidateOtpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminValidateOtpServlet</servlet-name>
		<url-pattern>/AdminValidateOtpServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompFPServlet</servlet-name>
		<servlet-class>company.CompFPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompFPServlet</servlet-name>
		<url-pattern>/CompFPServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompListServlet</servlet-name>
		<servlet-class>company.CompListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompListServlet</servlet-name>
		<url-pattern>/CompListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompLoginServlet</servlet-name>
		<servlet-class>company.CompLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompLoginServlet</servlet-name>
		<url-pattern>/CompLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompLogoutServlet</servlet-name>
		<servlet-class>company.CompLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompLogoutServlet</servlet-name>
		<url-pattern>/CompLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompNPServlet</servlet-name>
		<servlet-class>company.CompNPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompNPServlet</servlet-name>
		<url-pattern>/CompNPServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompProfileDelServlet</servlet-name>
		<servlet-class>company.CompProfileDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompProfileDelServlet</servlet-name>
		<url-pattern>/CompProfileDelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompRegisterServlet</servlet-name>
		<servlet-class>company.CompRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompRegisterServlet</servlet-name>
		<url-pattern>/CompRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompServlet</servlet-name>
		<servlet-class>company.CompServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompServlet</servlet-name>
		<url-pattern>/CompServletList</url-pattern>
		<url-pattern>/CompServletNew</url-pattern>
		<url-pattern>/CompServletDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompUpdateServlet</servlet-name>
		<servlet-class>company.CompUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompUpdateServlet</servlet-name>
		<url-pattern>/CompUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompValidateOtpServlet</servlet-name>
		<servlet-class>company.CompValidateOtpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompValidateOtpServlet</servlet-name>
		<url-pattern>/CompValidateOtpServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobCompServlet</servlet-name>
		<servlet-class>company.JobCompServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobCompServlet</servlet-name>
		<url-pattern>/JobCompServletDelete</url-pattern>
		<url-pattern>/JobCompServletEdit</url-pattern>
		<url-pattern>/JobCompServletEdit1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserEduDelServlet</servlet-name>
		<servlet-class>user.UserEduDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEduDelServlet</servlet-name>
		<url-pattern>/UserEduDelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserEduListServlet</servlet-name>
		<servlet-class>user.UserEduListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEduListServlet</servlet-name>
		<url-pattern>/UserEduListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserEduRegServlet</servlet-name>
		<servlet-class>user.UserEduRegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEduRegServlet</servlet-name>
		<url-pattern>/UserEduRegServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserEduUpdateServlet</servlet-name>
		<servlet-class>user.UserEduUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEduUpdateServlet</servlet-name>
		<url-pattern>/UserEduUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserFPServlet</servlet-name>
		<servlet-class>user.UserFPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFPServlet</servlet-name>
		<url-pattern>/UserFPServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>user.UserListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/UserListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>user.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogoutServlet</servlet-name>
		<servlet-class>user.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogoutServlet</servlet-name>
		<url-pattern>/UserLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserNPServlet</servlet-name>
		<servlet-class>user.UserNPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserNPServlet</servlet-name>
		<url-pattern>/UserNPServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserProfileDelServlet</servlet-name>
		<servlet-class>user.UserProfileDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProfileDelServlet</servlet-name>
		<url-pattern>/UserProfileDelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>user.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>user.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServletList</url-pattern>
		<url-pattern>/UserServletNew</url-pattern>
		<url-pattern>/UserServletDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserUpdateServlet</servlet-name>
		<servlet-class>user.UserUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserUpdateServlet</servlet-name>
		<url-pattern>/UserUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserValidateOtpServlet</servlet-name>
		<servlet-class>user.UserValidateOtpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserValidateOtpServlet</servlet-name>
		<url-pattern>/UserValidateOtpServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobCompListServlet</servlet-name>
		<servlet-class>company.JobCompListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobCompListServlet</servlet-name>
		<url-pattern>/JobCompListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobCompAddServlet</servlet-name>
		<servlet-class>company.JobCompAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobCompAddServlet</servlet-name>
		<url-pattern>/JobCompAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobCompUpdateServlet</servlet-name>
		<servlet-class>company.JobCompUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobCompUpdateServlet</servlet-name>
		<url-pattern>/JobCompUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InternCompListServlet</servlet-name>
		<servlet-class>company.InternCompListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InternCompListServlet</servlet-name>
		<url-pattern>/InternCompListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InternCompAddServlet</servlet-name>
		<servlet-class>company.InternCompAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InternCompAddServlet</servlet-name>
		<url-pattern>/InternCompAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InternCompUpdateServlet</servlet-name>
		<servlet-class>company.InternCompUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InternCompUpdateServlet</servlet-name>
		<url-pattern>/InternCompUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InternCompServlet</servlet-name>
		<servlet-class>company.InternCompServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InternCompServlet</servlet-name>
		<url-pattern>/InternCompServletDelete</url-pattern>
		<url-pattern>/InternCompServletEdit</url-pattern>
		<url-pattern>/InternCompServletEdit1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompLoginProcess1Servlet</servlet-name>
		<servlet-class>company.CompLoginProcess1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompLoginProcess1Servlet</servlet-name>
		<url-pattern>/CompLoginProcess1Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompLoginProcess2Servlet</servlet-name>
		<servlet-class>company.CompLoginProcess2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompLoginProcess2Servlet</servlet-name>
		<url-pattern>/CompLoginProcess2Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginProcess1Servlet</servlet-name>
		<servlet-class>admin.AdminLoginProcess1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginProcess1Servlet</servlet-name>
		<url-pattern>/AdminLoginProcess1Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginProcess2Servlet</servlet-name>
		<servlet-class>admin.AdminLoginProcess2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginProcess2Servlet</servlet-name>
		<url-pattern>/AdminLoginProcess2Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInternListServlet</servlet-name>
		<servlet-class>user.UserInternListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInternListServlet</servlet-name>
		<url-pattern>/UserInternListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInternApplyServlet</servlet-name>
		<servlet-class>user.UserInternApplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInternApplyServlet</servlet-name>
		<url-pattern>/UserInternApplyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserListServlet1</servlet-name>
		<servlet-class>user.UserListServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListServlet1</servlet-name>
		<url-pattern>/UserListServlet1</url-pattern>
	</servlet-mapping>
</web-app>